@model IEnumerable<UserProfileCardViewModel>

<div style="padding-top: 90px"></div>
@{
	ViewData["Title"] = "All users";
}
<section class="users-manager-list">

	<div class="container">
		<div class="list-header">
			<div class="title">@ViewData["Title"]</div>	@*<a class="link" asp-controller="productsmanager" asp-action="register">ADD NEW PRODUCTS</a>*@
		</div>

		@if (Model != null)
		{
			foreach (var user in Model)
			{
				<partial name="/Views/Partials/_UsersListItem.cshtml" model="user"/>
				//<partial name="/Views/Partials/_ProductManagerListItem.cshtml" model="user" />
@*				<h3>@user.FirstName</h3>
				<h4>@user.Email</h4>
				foreach (var address in user.Addresses)
				{
					<h5>@address.Address.StreetName</h5>
					<h5>@address.Address.PostalCode</h5>
					<h5>@address.Address.City</h5>
				}*@

			}
		}


	</div>
</section>