@model Product

<div class="product-list-item">
	<div class="listviewrow">
		@if(Model.HeroImageUrl != null)
		{
			<img src="/images/products/@Model.HeroImageUrl" alt="@Model.Name" />
			
		}
		else
		{
			<img src="/images/placeholders/501x430.svg" alt="placeholder" />
		}
		<div class="name">@Model.Name</div>
		<div class="price">$@Model.Price.ToString("F2")</div>
		<div class="category">@Model.ProductCategory</div>
	</div>
	<a asp-action="details" asp-controller="products" asp-route-id="@Model.Id">details</a>
	<div class="description">
		<div>@Model.Description</div>
	</div>
</div>