@model UserProfileCardViewModel


<div class="user-list-item">
	
		@*<img src="@Model.HeroImageUrl" alt="placeholder" />*@
	<div class="listviewrow">
		<div class="fullName"><div>Full Name: </div>@Model.FirstName @Model.LastName</div>
		<div class="email"><div>Email Address: </div>@Model.Email</div>
		<div class="address">
			@foreach (var address in Model.Addresses)
			{
				<div>@address.Address.StreetName</div>
				<div>@address.Address.PostalCode</div>
				<div>@address.Address.City</div>
			}
		</div>
		<div class="roles">
			<ul>
				@foreach (var role in Model.Roles)
				{
					<li class="roleName">@role</li>
				}
			</ul>
			<div class="roleOptions">
				<div>
					<form asp-controller="Admin" asp-action="AddRole" method="post">
						<div class="addRoles">
							<select name="role">
								<option value""> --Choose a role to ADD--</option>
								@foreach (var role in roleManager.Roles)
								{

									<option value="@role.Name">@role.Name</option>
								}
							</select>
							<input type="hidden" name="userId" value="@Model.UserId" />
							<button class="btn-outline-white" type="submit">Save</button>
						</div>

					</form>

				</div>

				<div>
					@if (userManager.GetUsersInRoleAsync("admin").Result.Count() >= 2)
					{
						<form asp-controller="Admin" asp-action="RemoveRole" method="post">
							<div class="removeRoles">
								<select name="role">
									<option value""> --Choose a role to REMOVE--</option>
									@foreach (var role in roleManager.Roles)
									{

										<option value="@role.Name">@role.Name</option>
									}
								</select>
								<input type="hidden" name="userId" value="@Model.UserId" />
								<button class="btn-outline-white" type="submit">Save</button>
							</div>

						</form>
					}
					<a asp-controller="admin" asp-action="deleteuser" asp-route-id="@Model.UserId">Delete User</a>
				</div>
			</div>
		</div>
		
	</div>
	
	
	@*<a asp-action="index" asp-controller="account" >details</a>*@

</div>