@model ProductRegistrationViewModel;

@{
	ViewData["Title"] = "Register new products";
	//var tags = ViewBag.Tags as List<Tag>;
	//var categories = ViewBag.Categories as List<ProductCategory>;
}

<section class="product-manager">
	<div class="container">
		<div class="title">Add a new product</div>

		<a asp-controller="productsmanager" asp-action="createtags">Create Tags</a>
		<a asp-controller="productsmanager" asp-action="createcategory">Create Category</a>

		<form method="post" novalidate>
			<div asp-validation-summary="ModelOnly" class="error"></div>

			<div class="product-name form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" />
				<span asp-validation-for="Name" class="error"></span>
			</div>

			<div class="product-price form-group">
				<label asp-for="Price"></label>
				<input asp-for="Price" type="text" />
				<span asp-validation-for="Price" class="error"></span>

			</div>


			<div class="category">
				<select name="productCategoryId" asp-for="ProductCategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "CategoryName"))">
					<option value""> --Choose a Category--</option>
@*					@foreach (var category in ViewBag.Categories)
					{
						<option value="@category.Id">@category.CategoryName</option>
					}*@
				</select>

				
			</div>

			<div class="tags">
				@foreach(SelectListItem tag in ViewBag.Tags)
				{
					<div class=" form-check ">
						<input type="checkbox" name="Tags" id="tag-@tag.Value-@tag.Text" value="@tag.Value" checked="@tag.Selected" class="form-check-input mx-2" />
						<label for="tag-@tag.Value-@tag.Text" class="form-check-label">@tag.Text</label>
					</div>

				}

			</div>

			<div class="product-description form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description"></textarea>
				<span asp-validation-for="Description" class="error"></span>
			</div>
			<div class="product-image-hero form-group">
				<label asp-for="Image"></label>
				<input asp-for="Image" />
				<span asp-validation-for="Image" class="error"></span>
				</div>
@*			<div class="product-image-hero form-group">
				<label asp-for="HeroImageUrl"></label>
				<input asp-for="HeroImageUrl" />
				<span asp-validation-for="HeroImageUrl" class="error"></span>

			</div>
			<div class="product-image form-group">
				<label asp-for="ExtraImageUrl"></label>
				<input asp-for="ExtraImageUrl" />
			</div>*@
			<button class="btn-theme">Add Product</button>
		</form>
	</div>
</section>