@model UserProfileCardViewModel
@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
    var editText = CultureInfo.CurrentCulture.TextInfo;
}

<div class="container" style="padding-top: 100px">
   
    <div class="userProfile">
        <div class="userName">
            <img src="~/images/placeholders/120x113.svg" />

            <span class="title">@editText.ToTitleCase(Model.FirstName.ToLower()) @editText.ToTitleCase(Model.LastName.ToLower())</span>
        </div>

        <div class="userAddress">
            <span>Address:</span>
            <ul>
                    @foreach (var adress in Model.Addresses)
                    {
                    <li>@editText.ToTitleCase(adress.Address.StreetName.ToLower())</li>
                        <li>@adress.Address.PostalCode</li>
                    <li>@editText.ToTitleCase(adress.Address.City.ToLower())</li>

                    }
            </ul>
        </div>

    </div>
</div>